@import 'https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed';
@import 'https://fonts.googleapis.com/css?family=Bungee Inline';
@import 'https://fonts.googleapis.com/css?family=Gochi Hand';
@import 'https://fonts.googleapis.com/css?family=Jockey One';
@import 'https://fonts.googleapis.com/css?family=Inconsolata';

body{
    margin: 0px;
}


#cart_background{
    width: 100%;
    position: fixed;
}

#cartlines {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 70%;    
}

#heading{
    margin-bottom: 100px;
    font-size: 120px;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-decoration: underline;
    font-family: 'IBM Plex Sans Condensed';
}

#cartlines li {
  display: flex;
  flex-direction: row;
  height: 15rem;
  width: 100%;
  justify-content: center;
  align-items: center;
    background-color: white;
    margin-bottom: 50px;
    box-shadow: 20px 20px 10px 10px grey;
}

#cartlines li .product {
  flex: 1;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#cartlines .product_heading{
    position: relative;
    font-size: 40px;
    font-family: monospace;
    left: 10%;
}

#cartlines li .product .product_image {
    width: 90%;
    display: block;
    padding: 20px;
    left: 10%;
    position: relative;
}

#cartlines li .quantity {
  flex: 1;
  display: flex;
  position: relative;
  left: 10%;
  flex-direction: row;
}

#cartlines li .quantity button {
  vertical-align: middle;
  border: 0;
  background-color: #FFFFFF;
  color: #000000;
}

#cartlines li .remove {
  flex: 1;
}

#cartlines li .remove #remove_button {
  border: 2px solid black;
    width: 40%;
    font-size: 25px;
    font-weight: 800;
    padding: 15px;
    text-align: center;
    position: relative;
    left: 40%;
    cursor: pointer;
    transition: background-color,color 1s,0.6s ease;
}

#remove_button:hover{
    background-color: black;
    color: white;
}

.qty_no{
    margin-left: 10px;
    margin-right: 10px;
}

.qty_no h1{
    border-left: 2px solid black;
    border-right: 2px solid black;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

/*increase quantity is decrease quantity*/

#increase_quantity,#decrease_quantity{
    border: 2px solid black;
    cursor: pointer; 
    width: 60%;
    position: relative;
    text-align: center;
    transition: background-color 1s ease;
}

#increase_quantity{
    overflow: hidden;
}

#increase_quantity #One{
    transition: transform 0.5s ease;
}

#increase_quantity #Two{
    left: 13%;
    text-align: center;
    position: absolute;
    transition: transform 0.7s ease;
}

#increase_quantity:hover{
    background-color: black;
    color: white;
}

#increase_quantity:hover #Two,#increase_quantity:hover #One{
    transform: translateY(-78px);
}

#decrease_quantity{
    overflow: hidden;
    transition: background-color 1s ease;
}

#decrease_quantity #add_One{
    transition: transform 0.7s ease;
}

#decrease_quantity #add_Two{
    position: absolute;
    left: 33%;
    transition: transform 0.7s ease;
}

#decrease_quantity:hover{
    background-color: black;
    color: white;
}

#decrease_quantity:hover #add_Two,#decrease_quantity:hover #add_One{
    transform: translateY(-76px);
}

@media screen and (max-width: 800px) {
  #cartlines {
    width: 95%;
  }
}
