
#menu{
    position: fixed;
    width: 30%;
    background-color: none;
    opacity: 0.8;
    height: 96%;
    margin-top: 0.8%;
    border-radius: 10px;
    left: 100%;
    overflow: hidden;
    z-index:2;
    transition: left,background-color,height,border 1s,0.7s ease;
}

#back_text2{
    overflow: hidden;
    position: absolute;;
    top: 1.px;
    left: 20px;
    font-size: 140px;
    opacity: 0.3;
    color: black;
    pointer-events: none;
}

#bars{
    width: 3%;
    left: 93%;
    top: 2%;
    opacity: 1;
    position: fixed;
    padding: 10px;
    z-index: 4;
    padding-right: 20px;
}

#bars_animate{
    width: 150%;
    height: 100%;
    padding: 1px;
    padding-bottom: 10px;
    padding-left: 2px;
    margin: 0px;
    border-radius: 100px;
}

#bar1,#bar2,#bar3{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 40%;
    padding: 1px;
    margin-top: 10px;
    background-color: white;
    transition: transform,width 0.4s,0.7s;
}

#menu_heading{
    border-bottom: 5px solid black;
    text-align: center;
    font-family: 'Jockey One';
    font-size: 50px;
    opacity: 0.8;
    width: 100%;
    top: 15px;
    position: relative;
}

#menu_links{
    position: relative;
    display: grid;
    font-size: 60px;
    padding: 30px;
    text-align: center;
    font-family: 'Inconsolata';
}

#menu_links a{
    border-bottom: 5px solid black;
    opacity: 0.8;
    width: 95%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#home{
    text-decoration: none;
}

#home,#how_we_work,#meet_the_team{
    position: relative;
    transition: left,opacity 0.8s,0.6s ease;
    left: 0px;
}

#home:hover,#how_we_work:hover,#contact:hover,#meet_the_team:hover{
    left: 50px;
    opacity: 1;
}

#home:visited,#how_we_work:visited,#contact:visited,#meet_the_team:visited{
    color: black;
    text-decoration: none;
}


#social_media{
    width: 90%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}

#icons{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#insta,#facebook,#twitter {
    position: relative;
    width: 15%;
    height: 7,5%;
    left: 31%;
    filter: grayscale(100%);
    transform: scale(0.8);
    transition: filter,transform 1s,0.5s ease;
    cursor: pointer;
}

#insta:hover,#facebook:hover,#twitter:hover{
    transform: scale(1);
    filter: grayscale(0%);
}

#bars:hover #bar1{
    width: 50%;
}

#bars:hover #bar3{
    width: 50%;
}

@media screen and (max-width: 1300px){
    #menu_heading{
        font-size: 36px;
    }
    
    #menu_links a{
        top: -10px;
        font-size: 47px;
    }
    
    #icons{
        top: -30px;
    }
}
